body {
    margin: auto;
    line-height: 2;
}

header {
    display: grid;
    background-color: rgb(227, 227, 227);
    padding: 25px;
}

header h1 {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrap {
    margin: 0 3rem;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

.float1 img {
    width: 400px;
    float: left;
    margin-right: 1.5rem;
}

.list {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.float2 img {
    height: 400px;
    float: right;
    margin-left: 1.5rem;
    margin-bottom: 3rem;
}

footer {
    display: grid;
    background-color: rgb(227, 227, 227);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    padding: 25px;
    width: 100%;
}